body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 40px;
  height: 80px;
  padding-left: 25px;
}

.navbar-brand h1 { /* title */
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
    margin-top: 0;
    background-color: white;
    margin-bottom: 0;
}
#nav-list a {
  color: black;
  text-align: center;

}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  border-color: black;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: grey;
    border-color: white;
}
/* END HEADER */

/*Main Page*/

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
h2 {
  font-size: 40px;
  color: black;
  margin-bottom: 50px;
  font-weight: bold;
}
.category-tile{
  
  height: auto;
    background-color: grey;
    color: black;
    font-size: 30px;
    font-weight: bold;
    
  }
.category-tile p{
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
}
.category-tile span{
  font-weight: bold;
}
/*End Main Page*/
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
}
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.navbar-brand {
  padding-top: 40px;
  height: 80px;
  padding-left: 25px;
}

.navbar-brand h1 { /* title */
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 0;
    height: auto;
    padding-left: 0;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 25px;
    font-size: 6vw;/* 1vw = 1% of viewport width */
    padding-left: 15px;
    padding-bottom: 10px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
  /*Main*/
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  ul#nav-list  {
    border: 1px solid #000;
  }
  ul#nav-list>li:not(:last-child) {
    border-bottom: 1px solid #000;
  }
  div#collapsable-nav {
    border: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    border-color: #000;
  }
  .navbar-default .navbar-toggle:focus .icon-bar {
    border-color: white;
  }
  .category-tile{
    max-width: 80%;
    margin: 0 auto;
    float: none;
  }
}
